<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <title>Message</title>
</head>

<body>
    <h1> No. <%= message.id %></h1>
    <div class="message">
        <div class="user">
            <%= message.author %>
        </div>
        <div class="text">
            <%= message.text %>
        </div>
        <div class="date">
            <%= message.added.toDateString() %>
        </div>
    </div>
    <a href="/">Back</a>
</body>

</html>